<!--
  Shows info from the api call
  Shows positive/negative arrow if percent change is positive/negative
  X click button that will send the ticker to a method that will remove the stock in tracker search component
  Router button will change the url and send query data to get the sentiment component
-->
<div style="background-color: lightgray">
  <p>{{ name }}</p>
  <p>High Price {{ highPrice }} &emsp;</p>
  <p>Opening Price {{ openingPrice }}</p>
  <p>Current Price {{ currentPrice }}</p>
  <p>Percent Change {{ percentChange }}</p>

  <p *ngIf="percentChange < 0" style="color:red">&#8595;</p>
  <p *ngIf="percentChange >= 0" style="color:green">&#8593;</p>

  <button type="button" (click)="deleteSymbol(); " id="remove{{ticker}}">X</button>

  <button
    routerLink="/sentiment/{{ ticker }}"
    [queryParams]="{ ticker: ticker, name: name }"
    id="sentiment{{ticker}}"
  >
    Go to social sentiment details
  </button>

</div>
