<div style="background-color: lightgray">
  <p>{{ name }}</p>
  <p>High Price {{ quoteHighPrice }} &emsp; hello</p>
  <p>Opening Price {{ openingPrice }}</p>
  <p>Current Price {{ currentPrice }}</p>
  <p>Percent Change {{ percentChange }}</p>

  <!--<p>TURN THIS INTO ACTUAL COLORED ARROW: {{ arrow }}</p>-->


  <p *ngIf="arrow == false" style="color:red">&#8595;</p>
  <p *ngIf="arrow == true" style="color:green">&#8593;</p>

  <button type="button" (click)="deleteSymbol(); deleteInfo()">X</button>

  <!--<button>
    <a routerLink="/sentiment/{{ ticker }} + name ">Go </a>
  </button>-->

  <button
    routerLink="/sentiment/{{ ticker }}"
    [queryParams]="{ ticker: ticker, name: name }"
  >
    Go to social sentiment details
  </button>


<button
    routerLink="/sentiment/{{ ticker }}"
    [queryParams]="{ ticker: ticker, name: name }"
  >
    Go to social sentiment details
  </button>


 <!-- { state: { orderId: 1234 } }-->


  <!--<button routerLink="['/sentiment/', ticker]" ->XXX</button>

  <button routerLink="['/sentiment/', ticker]">XX</button>
  <p>{{ quoteInfo | json }}</p>-->
</div>
